[Desktop Entry]
Icon=application-x-cbz
Name=05Iron_Man016.cbz
Type=Link
URL[$e]=file:///data/tmp/initiative/05Iron_Man016.cbz
X-KDE-LastOpenedWith=okularapplication_comicbook
