[Desktop Entry]
Icon=application-x-cbz
Name=06Iron_Man017.cbz
Type=Link
URL[$e]=file:///data/tmp/initiative/06Iron_Man017.cbz
X-KDE-LastOpenedWith=okularapplication_comicbook
