[Desktop Entry]
Icon=application-x-cbz
Name=07Iron_Man018.cbz
Type=Link
URL[$e]=file:///data/tmp/initiative/07Iron_Man018.cbz
X-KDE-LastOpenedWith=okularapplication_comicbook
