[Desktop Entry]
Icon=application-x-cbz
Name=08Captain_America026.cbz
Type=Link
URL[$e]=file:///data/tmp/initiative/08Captain_America026.cbz
X-KDE-LastOpenedWith=okularapplication_comicbook
