[Desktop Entry]
Icon=application-pdf
Name=13529_ca.PDF
Type=Link
URL[$e]=file:///media/bbc41af6-6057-4aac-801d-25658d9a85f2_/comics/13529_ca.PDF
X-KDE-LastOpenedWith=okularapplication_pdf
