[Desktop Entry]
Icon=audio-mpeg
Name=16-Fangoria-Viven-.-Rey.Del.Glam-[www.TodoCVCD.com].mp3
Type=Link
URL[$e]=trash:/8097-Fangoria-Viven-%5Bwww.TodoCVCD.com%5D/16-Fangoria-Viven-.-Rey.Del.Glam-%5Bwww.TodoCVCD.com%5D.mp3
X-KDE-LastOpenedWith=audacious2-gtkui
