[Desktop Entry]
Icon=application-x-rar
Name=1904577806.rar
Type=Link
URL[$e]=file:///media/bbc41af6-6057-4aac-801d-25658d9a85f2_/comics/1904577806.rar
X-KDE-LastOpenedWith=
