[Desktop Entry]
Icon=text-html
Name=2000 AD - Judge Dredd 3 - Black Atlantic by Simon Joweltt & Peter J Evans (v1.0) [html].html
Type=Link
URL[$e]=file:///media/bbc41af6-6057-4aac-801d-25658d9a85f2_/comics/2000%20AD%20-%20Judge%20Dredd%203%20-%20Black%20Atlantic%20by%20Simon%20Joweltt%20&%20Peter%20J%20Evans%20(v1.0)%20%5Bhtml%5D.html
X-KDE-LastOpenedWith=mozilla-firefox-3
