[Desktop Entry]
Icon=image-jpeg
Name=2000 AD - Judge Dredd 3a - Black Atlantic by Simon Jowett & Peter J Evans.JPG
Type=Link
URL[$e]=file:///media/bbc41af6-6057-4aac-801d-25658d9a85f2_/comics/2000%20AD%20-%20Judge%20Dredd%203a%20-%20Black%20Atlantic%20by%20Simon%20Jowett%20&%20Peter%20J%20Evans.JPG
X-KDE-LastOpenedWith=gpicview
