[Desktop Entry]
Icon=application-pdf
Name=alpaydin2010-intro-MachineLearning.pdf
Type=Link
URL[$e]=file://$HOME/pdf/alpaydin2010-intro-MachineLearning.pdf
X-KDE-LastOpenedWith=okularapplication_pdf
