[Desktop Entry]
Icon=application-x-lyx
Name=business-plan-2col.16.lyx
Type=Link
URL[$e]=file://$HOME/Dropbox/exist.de/business-plan-2col.16.lyx
X-KDE-LastOpenedWith=kwrite
