[Desktop Entry]
Icon=application-vnd.oasis.opendocument.spreadsheet
Name=businessPlanning-graphs-oo-clean.ods
Type=Link
URL[$e]=file://$HOME/Dropbox/exist.de/figures/businessPlanning-graphs-oo-clean.ods
X-KDE-LastOpenedWith=calc
