[Desktop Entry]
Icon=application-vnd.oasis.opendocument.spreadsheet
Name=evolution-pub-servant-openings-spain-fig3.ods
Type=Link
URL[$e]=file://$HOME/Dropbox/exist.de/figures/evolution-pub-servant-openings-spain-fig3.ods
X-KDE-LastOpenedWith=calc
