[Desktop Entry]
Icon=application-pdf
Name=Hills-CD-network-AssocStructJML.pdf
Type=Link
URL[$e]=file://$HOME/Dropbox/pdf/Hills-CD-network-AssocStructJML.pdf
X-KDE-LastOpenedWith=okular
