[Desktop Entry]
Icon=application-pdf
Name=JWS-S-10-00208.pdf
Type=Link
URL[$e]=file://$HOME/essayGrading/JWS-S-10-00208.pdf
X-KDE-LastOpenedWith=okularapplication_pdf
