[Desktop Entry]
Icon=application-vnd.openxmlformats-officedocument.spreadsheetml.sheet
Name=ratio-opositores-plaza-all-comunidades.xlsx
Type=Link
URL[$e]=file://$HOME/Dropbox/wcogs/exist.de/references/ratio-opositores-plaza-all-comunidades.xlsx
X-KDE-LastOpenedWith=cxassoc-cxoffice-8f69e856-6310-4807-a48c-064d3d59da45:application_vnd
