[Desktop Entry]
Icon=application-vnd.ms-excel
Name=spreadsheet.xls
Type=Link
URL[$e]=file://$HOME/down/spreadsheet.xls
X-KDE-LastOpenedWith=cxassoc-cxoffice-8f69e856-6310-4807-a48c-064d3d59da45:application_vnd
