[Desktop Entry]
Icon=application-vnd.oasis.opendocument.presentation
Name=year2Review.odp
Type=Link
URL[$e]=file://$HOME/doc/presentations/year2Review.odp
X-KDE-LastOpenedWith=impress
